doctype html
html
  head
    title= title

    link(rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.min.css")
    link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/main.css")

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/jquery-ui/jquery-ui.min.js")
    script(src="/components/markcell/jquery-tabledit/jquery.tabledit.min.js")
    script(src="/components/tinycolorpicker/lib/jquery.tinycolorpicker.min.js")
    script(src="/components/bootstrap/js/collapse.js")

    | <style>
    | .ui-widget-content { border: none !important; }
    - each elem in elems
      if elem.style
        | ##{elem.id} {
        - each i in elem.style
          | #{i[0]}:#{i[1]};
        | }
    | </style>

  body
    div.container-fluid.wb
      - each elem in elems
          if elem.tagName == "table"

            div(id=elem.id class="draggable resizable-table ui-widget-content wb_table editable")
              button.newRow.btn.btn-sm.btn-default
                span.glyphicon.glyphicon-plus

              table#exampleTable.table.table-striped
                - each row in elem.struct.rows
                  tr
                    - each i in row
                      #{i[0]} #{i[1]}
              | <script>
              |  $(function() {
              |     wb_tables.push({
              |        t_elem:  #{elem.id},
              |        params:  {
              |         editButton: false,
              |          deleteButton: false,
              |          hideIdentifier: false,
              |          toolbar: true,
              |          columns: !{JSON.stringify(elem.tableEditColumns)}
              |        }
              |      });
              |     //$("##{elem.id} table").Tabledit(params);
              |   });
              | </script>
          else if elem.tagName == "H1"
            #{elem.tagName}(
              id=elem.id
              class="editable"
            )= elem.innerText

          else
            #{elem.tagName}(
              id=elem.id
              class="draggable resizable ui-widget-content wb_box box editable")
              div
                if elem.decoration
                  div.box-decoration
                    i(class="fa #{elem.decoration}")
                  div(class="box-content" contentEditable="true")= elem.innerText
                else
                  div(class="box-content box-content-full-width" contentEditable="true")= elem.innerText

    div#plt
        div#pltToolbar
          div(class="save btn btn-default")
            span.btn-inner.glyphicon.glyphicon-floppy-save
            p.btn-inner="Save"
          div(class="plt-hide btn btn-default")
            span.btn-inner.glyphicon.glyphicon-remove-circle
            p.btn-inner="Hide"

        div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
          div(class="panel panel-default")
            div(class="panel-heading" role="tab" id="headingOne")
              h4
                a(role="button" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")="Insert Text Box"
            div(id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne")
              div(class="panel-body")
                div.box.p_box= "Text goes here..."
                div.colorPickers
                  div.colorPicker.colorPickerBG
                    a.color
                      div.colorInner
                    p= "Bg"
                    div.track
                    ul.dropdown
                      li
                    input(type="hidden" class="colorInput")

                  div.colorPicker.colorPickerTX
                    a.color
                      div.colorInner
                    p= "Aa"
                    div.track
                    ul.dropdown
                      li
                    input(type="hidden" class="colorInput")

                input(type="button" id="addTextBox" class="add btn btn-default", value="Add")

          div(class="panel panel-default")
            div(class="panel-heading" role="tab" id="headingTwo")
              h4
                a(role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion"
                href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")="Insert Table"
            div(id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
              div(class="panel-body")
                div.form-group
                  label(for="tableCols")= "Columns:"
                  input(type="text" class="form-control" id="tableCols" name="tableCols")
                div#colNames
        div#editZone
        div#binIcon
          span.glyphicon.glyphicon-trash

    script(src="/main.js")
    script(src="/colorPicker.js")
    script(src="/tables.js")
    script(src="/io.js")
