doctype html
html
  head
    title= title

    link(rel="stylesheet" href="/jquery-ui.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous")
    link(rel="stylesheet" href="/main.css")

    script(src="/external/jquery/jquery.js")
    script(src="/jquery-ui.min.js")
    script(src="/jquery.tabledit.min.js")
    script(src="/main.js")

    | <style>
    | .ui-widget-content { border: none !important; }
    - each elem in elems
      if elem.style
        | ##{elem.id} {
        - each i in elem.style
          | #{i[0]}:#{i[1]};
        | }
    | </style>

  body
    div.container-fluid.wb
      - each elem in elems
          if elem.tagName == "table"

            div(id=elem.id class="draggable resizble ui-widget-content wb_table")
              button.newRow.btn.btn-sm.btn-default
                span.glyphicon.glyphicon-plus

              table#exampleTable.table.table-striped
                - each row in elem.struct.rows
                  tr
                    - each i in row
                      #{i[0]} #{i[1]}
              | <script>
              |  $(function() {
              |     wb_tables.push({
              |        t_elem:  #{elem.id},
              |        params:  {
              |         editButton: false,
              |          deleteButton: false,
              |          hideIdentifier: false,
              |          toolbar: true,
              |          columns: !{JSON.stringify(elem.tableEditColumns)}
              |        }
              |      });
              |     //$("##{elem.id} table").Tabledit(params);
              |   });
              | </script>
          else if elem.tagName == "H1"
            #{elem.tagName}(
              id=elem.id
            )= elem.innerText

          else
            #{elem.tagName}(
              id=elem.id
              class="draggable resizable ui-widget-content"
              contentEditable="true"
            )= elem.innerText
    div#plt
      form
        input(type="button" class="save btn btn-default btn-lg" value="save")
        h3= "text box"
