doctype html
html
  head
    title= title

    link(rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.min.css")
    link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/main.css")

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/jquery-ui/jquery-ui.min.js")
    script(src="/components/markcell/jquery-tabledit/jquery.tabledit.min.js")
    script(src="/components/tinycolorpicker/lib/jquery.tinycolorpicker.min.js")

    | <style>
    | .ui-widget-content { border: none !important; }
    - each elem in elems
      if elem.style
        | ##{elem.id} {
        - each i in elem.style
          | #{i[0]}:#{i[1]};
        | }
    | </style>

  body
    div.container-fluid.wb
      - each elem in elems
          if elem.tagName == "table"

            div(id=elem.id class="draggable resizble ui-widget-content wb_table")
              button.newRow.btn.btn-sm.btn-default
                span.glyphicon.glyphicon-plus

              table#exampleTable.table.table-striped
                - each row in elem.struct.rows
                  tr
                    - each i in row
                      #{i[0]} #{i[1]}
              | <script>
              |  $(function() {
              |     wb_tables.push({
              |        t_elem:  #{elem.id},
              |        params:  {
              |         editButton: false,
              |          deleteButton: false,
              |          hideIdentifier: false,
              |          toolbar: true,
              |          columns: !{JSON.stringify(elem.tableEditColumns)}
              |        }
              |      });
              |     //$("##{elem.id} table").Tabledit(params);
              |   });
              | </script>
          else if elem.tagName == "H1"
            #{elem.tagName}(
              id=elem.id
            )= elem.innerText

          else
            #{elem.tagName}(
              id=elem.id
              class="draggable resizable ui-widget-content"
              contentEditable="true"
            )= elem.innerText
    div#plt
      form
        input(type="button" class="save btn btn-default btn-lg" value="save")
        h3= "text box"
        div
          div.box.p_box.draggable.resizable= "Text goes here..."

          div.colorPickers
            div.colorPicker.colorPickerBG
              a.color
                div.colorInner
              div.track
              ul.dropdown
                li
              input(type="hidden" class="colorInput")
            p= "Bg"


            div.colorPicker.colorPickerTX
              a.color
                div.colorInner
              div.track
              ul.dropdown
                li
              input(type="hidden" class="colorInput")
            p= "Aa"
          input(type="button" class="add btn btn-default", value="Add")

        div#binIcon
          span.glyphicon.glyphicon-trash

    script(src="/main.js")

