doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/jquery-ui.min.css")
    script(src="/external/jquery/jquery.js")
    script(src="/jquery-ui.min.js")
    script(src="/jquery.tabledit.min.js")
    script(src="/main.js")

    | <style>
    - each elem in elems
      | ##{elem.id} {
      |   height: #{elem.style.height}px;
      |   width: #{elem.style.width}px;
      |   color: #{elem.style.color};
      |   position:relative;
      if elem.style.position
        |   left: #{elem.style.position.left}px;
        |   top: #{elem.style.position.top}px;
      | }
    | </style>



  body
    div.container
      - each elem in elems
          #{elem.tagName}(
            id=elem.id
            class="draggable ui-widget-content"
            contentEditable="true"
          )= elem.innerText
