doctype html
html
    head
        title= title

        script(src="/components/jquery/dist/jquery.min.js")

        link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/main.css")


    body
        div.container
            div.row
                div.col-md-12
                    table#wbListTable.table.table-striped.table-bordered
                        thead
                            tr
                                td="Name"
                                td="Link"
                                td="Last modified"

                        tbody
                            - each wallboard in wallboards
                                if wallboard.url_slug == "/"
                                    - wallboard.url_slug = "default"
                                tr
                                    td=wallboard.title
                                    td
                                        a(href="/wb/" + wallboard.url_slug)="/wb/" + wallboard.url_slug
                                    td=wallboard.created_at